.p-Home.Div1 {
;
}
.p-Home.navbar {
display: flex;
margin-top: 24px;
justify-content: space-around;
}
.p-Home.Flex2 {
display: flex;
justify-content: space-around;
align-items: center;
}
.p-Home.Flex3 {
display: flex;
justify-content: space-around;
align-content: center;
width: 300px;
}
.p-Home.section1 {
display: flex;
justify-content: space-around;
align-items: center;
row-gap: ;
height: 540px;
}
.p-Home.section1left {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 300px;
width: 500px;
position: absolute;
left: 110px;
}
.p-Home.Flex7 {
display: flex;
justify-content: flex-start;
align-items: center;
row-gap: ;
width: 300px;
}
.p-Home.Div4 {
height: 490px;
width: 490px;
background-color: #ff7c24;
position: absolute;
right: 0;
margin-top: 4px;
}
.p-Home.Flex10 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
align-content: center;
height: 100px;
margin-top: 20px;
}
.p-Home.Flex11 {
display: flex;
width: 850px;
align-items: center;
justify-content: space-around;
margin-top: 4px;
}
.p-Home.Flex12 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
margin-top: 120px;
height: 550px;
width: 100%;
}
.p-Home.Flex16 {
display: flex;
width: 80%;
height: 400px;
justify-content: space-around;
align-items: center;
border-color: #a8a5a5;
}
.p-Home.Flex17 {
display: flex;
align-items: center;
justify-content: space-around;
width: 210px;
flex-direction: column;
height: 360px;
border-top-left-radius: 15px;
border-color: #d3cdcd;
border-width: 3px;
border-style: solid;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
padding-top: 10px;
padding-left: 15px;
padding-right: 10px;
padding-bottom: 10px;
margin-top: ;
}
.p-Home.Flex18 {
display: flex;
height: 360px;
width: 210px;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-width: 3px;
border-style: solid;
border-color: #d3cdcd;
}
.p-Home.Flex19 {
display: flex;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-width: 3px;
border-style: solid;
border-color: #d3cdcd;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 210px;
height: 360px;
}
.p-Home.Flex20 {
display: flex;
width: 210px;
height: 360px;
flex-direction: column;
align-items: center;
justify-content: space-around;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-width: 3px;
border-style: solid;
border-color: #d3cdcd;
}
.p-Home.Flex22 {
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
width: 300px;
}
.p-Home.Flex24 {
display: flex;
height: 900px;
align-items: center;
justify-content: center;
width: 100%;
background-color: #fdf5ed;
margin-top: 150px;
}
.p-Home.Flex25 {
display: flex;
width: 500px;
height: 350px;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
margin-bottom: 50px;
margin-left: 70px;
}
.p-Home.Flex29 {
display: flex;
align-items: center;
justify-content: space-around;
width: 300px;
}
.p-Home.Div7 {
height: 700px;
width: 500px;
margin-top: 50px;
position: static;
left: 30px;
}
.p-Home.Div8 {
width: 275px;
height: 200px;
background-color: #ffffff;
position: relative;
left: 160px;
bottom: 200px;
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.Flex26 {
display: flex;
width: 80%;
height: 60px;
align-items: center;
justify-content: flex-start;
align-self: center;
text-align: left;
margin-top: 20px;
margin-bottom: 20px;
}
.p-Home.Flex27 {
display: flex;
align-items: center;
justify-content: flex-start;
width: 80%;
height: 30px;
text-align: left;
margin-bottom: 13px;
}
.p-Home.Flex28 {
display: flex;
width: 330px;
height: 30px;
align-items: center;
justify-content: flex-start;
text-align: left;
}
.p-Home.Flex30 {
display: flex;
flex-direction: column;
height: 200vh;
width: 100%;
align-items: center;
justify-content: center;
align-content: center;
}
.p-Home.Flex31 {
display: flex;
width: 80%;
height: 405px;
align-items: center;
justify-content: space-around;
margin-bottom: 30px;
}
.p-Home.Flex32 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height: 85%;
width: 23%;
}
.p-Home.Flex33 {
display: flex;
width: 23%;
height: 85%;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex34 {
display: flex;
width: 23%;
height: 85%;
align-items: center;
justify-content: space-around;
flex-direction: column;
}
.p-Home.Flex35 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 23%;
height: 85%;
}
.p-Home.Flex36 {
display: flex;
align-items: center;
justify-content: space-around;
width: 80%;
height: 400px;
}
.p-Home.Flex37 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 23%;
height: 85%;
}
.p-Home.Flex38 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 23%;
height: 85%;
}
.p-Home.Flex39 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 23%;
height: 85%;
}
.p-Home.Flex40 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 23%;
height: 85%;
}
.p-Home.Flex41 {
display: flex;
width: 335px;
align-items: center;
justify-content: space-around;
height: 45px;
position: relative;
}
.p-Home.Flex42 {
display: flex;
width: 100%;
height: 786px;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex43 {
display: flex;
width: 46%;
height: 100%;
flex-direction: column;
align-items: flex-start;
justify-content: center;
background-color: #ff7c24;
padding-left: 155px;
}
.p-Home.Flex44 {
display: flex;
height: 35px;
width: 300px;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex45 {
display: flex;
width: 100%;
height: 120vh;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: ;
}
.p-Home.Flex46 {
display: flex;
align-items: center;
justify-content: space-around;
width: 70%;
height: 350px;
}
.p-Home.Div9 {
width: 55px;
height: 55px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
background-color: #ff7c24;
border-width: 0px;
outline-width: 0px;
}
.p-Home.Flex48 {
display: flex;
width: 64%;
height: 300px;
align-items: flex-start;
flex-direction: column;
justify-content: center;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-width: 3px;
border-color: #d3cdcd;
border-style: solid;
padding-left: 60px;
}
.p-Home.Flex49 {
display: flex;
width: 50%;
height: 40px;
align-items: center;
justify-content: flex-start;
margin-bottom: 10px;
margin-top: 18px;
}
.p-Home.Flex50 {
display: flex;
width: 50%;
align-items: center;
justify-content: flex-start;
height: 60px;
}
.p-Home.Flex51 {
display: flex;
height: 50%;
width: 140px;
align-items: flex-start;
justify-content: space-around;
flex-direction: column;
}
.p-Home.Div10 {
width: 55px;
height: 55px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
border-width: 0px;
outline-width: 0px;
background-color: #ff7c24;
}
.p-Home.Flex47 {
display: flex;
align-items: center;
justify-content: space-around;
width: 335px;
height: 45px;
margin-top: 50px;
}
.p-Home.Flex52 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
height: 1000px;
background-color: #fdf5ed;
width: 100%;
padding-bottom: ;
}
.p-Home.Flex53 {
display: flex;
width: 85%;
align-items: center;
justify-content: space-between;
height: 50px;
margin-bottom: 25px;
margin-top: ;
position: relative;
top: 50px;
}
.p-Home.Flex54 {
display: flex;
width: 85%;
height: 75%;
align-items: flex-start;
justify-content: flex-start;
margin-bottom: 60px;
position: relative;
top: 50px;
}
.p-Home.Flex55 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
width: 44%;
height: 89%;
background-color: #ffffff;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Home.Flex56 {
display: flex;
width: 55%;
height: 94%;
flex-direction: column;
align-items: center;
justify-content: space-around;
position: relative;
bottom: 18px;
margin-left: ;
left: 20px;
}
.p-Home.Flex57 {
display: flex;
width: 84%;
height: 48%;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex59 {
display: flex;
height: 93%;
width: 46%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
background-color: #ffffffff;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Home.Flex60 {
display: flex;
width: 46%;
height: 93%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
background-color: #ffffff;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.p-Home.Flex58 {
display: flex;
width: 84%;
height: 48%;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex61 {
display: flex;
background-color: #ffffff;
width: 46%;
height: 93%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.p-Home.Flex62 {
display: flex;
background-color: #ffffff;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
width: 46%;
height: 93%;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-left: ;
}
.p-Home.Flex63 {
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
height: 1000px;
}
.p-Home.Flex64 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
width: 55%;
height: 80%;
}
.p-Home.Flex65 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
height: 400px;
width: 350px;
margin-left: 150px;
}
.p-Home.Flex66 {
display: flex;
align-items: center;
justify-content: flex-start;
width: 300px;
height: 30px;
}
.p-Home.Flex67 {
display: flex;
align-items: center;
justify-content: flex-start;
width: 200px;
height: 30px;
margin-bottom: 20px;
font-size: 16px;
}
.p-Home.Flex68 {
display: flex;
align-items: center;
justify-content: flex-start;
width: 300px;
height: 50px;
margin-bottom: 20px;
}
.p-Home.Div11 {
width: 45%;
height: 100%;
background-color: #ff7c24;
}
.p-Home.Flex69 {
display: flex;
width: 87%;
height: 75%;
border-top-left-radius: 25px;
background-color: #ffffff;
flex-direction: column;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-width: 3px;
border-style: solid;
border-color: #c8c6c6;
align-items: center;
justify-content: flex-start;
position: relative;
right: 132px;
top: 125px;
}
.p-Home.Flex70 {
display: flex;
width: 95%;
height: 40px;
align-items: center;
justify-content: space-around;
margin-top: 10px;
}
.p-Home.Flex71 {
display: flex;
width: 95%;
height: 40px;
align-items: center;
justify-content: flex-start;
margin-top: 68px;
}
.p-Home.Flex72 {
display: flex;
width: 95%;
height: 30px;
align-items: center;
justify-content: flex-start;
margin-top: 25px;
}
.p-Home.Flex73 {
display: flex;
width: 95%;
height: 40px;
align-items: center;
justify-content: space-around;
margin-top: 10px;
}
.p-Home.Flex74 {
display: flex;
width: 95%;
height: 30px;
align-items: center;
justify-content: flex-start;
margin-top: 25px;
margin-bottom: ;
}
.p-Home.Flex75 {
display: flex;
width: 95%;
height: 40px;
align-items: center;
justify-content: space-around;
margin-top: 10px;
}
.p-Home.Flex76 {
display: flex;
width: 100%;
height: 700px;
background-color: #fdf5ed;
align-items: center;
justify-content: center;
flex-direction: column;
}
.p-Home.Flex77 {
display: flex;
width: 90%;
align-items: center;
justify-content: space-between;
position: relative;
top: 20px;
height: 60px;
}
.p-Home.Flex79 {
display: flex;
width: 98%;
height: 400px;
align-items: center;
justify-content: center;
}
.p-Home.Flex80 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 340px;
height: 390px;
position: relative;
left: 8px;
}
.p-Home.Flex81 {
display: flex;
align-items: center;
justify-content: space-around;
width: 95%;
height: 170px;
}
.p-Home.Flex83 {
display: flex;
width: 100%;
align-items: center;
justify-content: space-around;
height: 100%;
position: relative;
top: 6px;
}
.p-Home.Flex82 {
display: flex;
width: 95%;
height: 170px;
align-items: center;
justify-content: space-around;
}
.p-Home.Flex84 {
display: flex;
align-items: center;
justify-content: space-around;
width: 95%;
height: ;
position: relative;
bottom: 5px;
}
.p-Home.Flex85 {
display: flex;
width: 100%;
height: 500px;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex86 {
display: flex;
width: 500px;
height: 300px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-left: 150px;
}
.p-Home.Flex87 {
display: flex;
align-items: center;
justify-content: flex-start;
width: 80%;
margin-top: 10px;
}
.p-Home.Flex88 {
display: flex;
width: 80px;
height: 350px;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: 45px;
position: absolute;
left: 640px;
}
.p-Home.Flex89 {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
height: 350px;
position: absolute;
left: 735px;
width: 80px;
margin-top: 45px;
}
.p-Home.Flex90 {
display: flex;
width: 450px;
height: 450px;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;
position: absolute;
right: 60px;
}
.p-Home.Flex91 {
display: flex;
width: 95%;
height: 45%;
align-items: center;
justify-content: flex-start;
position: relative;
bottom: 12px;
}
.p-Home.Flex92 {
display: flex;
width: 95%;
height: 45%;
align-items: center;
justify-content: flex-start;
position: static;
margin-top: 10px;
}
.p-Home.logo {
width: ;
height: ;
align-self: center;
cursor: pointer;
margin-top: 0px;
margin-right: 25px;
position: relative;
right: 2px;
}
.p-Home.Home {
align-self: center;
margin-right: 22px;
color: #4f4f4b;
font-size: 17px;
margin-left: 13px;
font-family: Poppins;
position: relative;
right: 5px;
}
.p-Home.TextBox2 {
align-self: center;
margin-right: 25px;
color: #4f4f4b;
font-size: 17px;
margin-left: 3px;
font-family: Poppins;
position: relative;
right: 5px;
}
.p-Home.TextBox3 {
align-self: center;
margin-right: 25px;
color: #4f4f4b;
font-size: 17px;
font-family: Poppins;
position: relative;
right: 5px;
}
.p-Home.TextBox4 {
align-self: center;
margin-right: 25px;
color: #4f4f4b;
font-size: 17px;
font-family: Poppins;
position: relative;
right: 5px;
}
.p-Home.TextBox5 {
align-self: center;
margin-right: 5px;
color: #4f4f4b;
height: ;
font-size: 17px;
font-family: Poppins;
position: relative;
right: 5px;
}
.p-Home.Button1 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 24px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 15px;
border-radius: 0.5px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #bebebc;
cursor: pointer;
user-select: none;
outline-width: 0.2px;
outline-style: solid;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
outline-color: #8f8f8f;
outline-offset: 0px;
margin-right: 24px;
font-family: Poppins;
}
.p-Home.Button2 {
color: #ffffff;
background-color: #ff7c24;
padding-top: 10px;
padding-left: 24px;
padding-bottom: 10px;
padding-right: 24px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
outline-width: 0px;
outline-style: none;
margin-left: 10px;
font-family: Poppins;
}
.p-Home.TextBox6 {
align-self: center;
width: 95%;
height: ;
font-size: 45px;
margin-bottom: ;
font-family: Poppins;
font-weight: 600;
position: relative;
line-height: ;
left: 20px;
}
.p-Home.TextBox7 {
font-size: 44px;
color: #ff6d0c;
margin-bottom: 15px;
font-family: Poppins;
font-weight: 600;
position: relative;
right: 23px;
}
.p-Home.TextBox138 {
width: 99%;
font-family: Poppins;
font-weight: 500;
color: #747272;
position: relative;
left: 35px;
font-size: 17px;
}
.p-Home.TextBox139 {
width: 99%;
font-family: Poppins;
font-weight: 500;
color: #747272;
position: relative;
left: 35px;
font-size: 16px;
}
.p-Home.TextBox140 {
width: 99%;
font-family: Poppins;
color: #747272;
position: relative;
left: 35px;
margin-bottom: 15px;
}
.p-Home.Button6 {
color: #fff;
background-color: #ff6d0c;
padding-top: 9px;
padding-left: 20px;
padding-bottom: 9px;
padding-right: 20px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
outline-width: 0px;
margin-bottom: ;
margin-right: 10px;
position: relative;
right: 60px;
font-family: Poppins;
}
.p-Home.Button7 {
color: #000000;
background-color: #ffffff;
padding-top: 9px;
padding-left: 20px;
padding-bottom: 9px;
padding-right: 20px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.3px;
border-style: solid;
border-color: #909090;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 10px;
position: relative;
right: 40px;
font-family: Poppins;
}
.p-Home.Image12 {
width: 400px;
height: 400px;
position: relative;
top: 45px;
right: 160px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-width: 0px;
outline-width: 0px;
}
.p-Home.TextBox9 {
margin-top: 8px;
font-size: 22px;
font-family: Poppins;
}
.p-Home.Image3 {
height: 30px;
margin-right: 0px;
}
.p-Home.Image4 {
height: 30px;
margin-right: 30px;
}
.p-Home.Image6 {
height: 30px;
}
.p-Home.Image7 {
height: 30px;
margin-left: 30px;
margin-right: 30px;
}
.p-Home.TextBox14 {
font-size: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.Image8 {
width: 110px;
margin-bottom: 0px;
}
.p-Home.TextBox16 {
font-size: 18px;
margin-bottom: 0px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox17 {
color: #6f6e6e;
font-size: 16px;
margin-bottom: 0px;
width: 86%;
font-family: Poppins;
line-height: 23px;
font-weight: 500;
position: relative;
bottom: 6px;
}
.p-Home.TextBox18 {
color: #ff6d0c;
font-size: 18px;
font-family: Poppins;
position: relative;
bottom: 12px;
}
.p-Home.Image9 {
width: 110px;
height: ;
}
.p-Home.TextBox19 {
font-size: 18px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox20 {
color: #6a6868;
font-size: 16px;
font-family: Poppins;
font-weight: 500;
width: 86%;
position: relative;
bottom: 6px;
line-height: 23px;
}
.p-Home.TextBox21 {
color: #ff6d0c;
font-size: 18px;
font-family: Poppins;
position: relative;
bottom: 12px;
}
.p-Home.Image10 {
width: 110px;
height: ;
}
.p-Home.TextBox22 {
font-size: 18px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox23 {
color: #ff6d0c;
font-size: 18px;
font-family: Poppins;
position: relative;
bottom: 12px;
}
.p-Home.TextBox24 {
color: #6a6868;
font-size: 16px;
width: 86%;
font-family: Poppins;
font-weight: 500;
line-height: 23px;
position: relative;
bottom: 6px;
}
.p-Home.Image11 {
width: 110px;
height: ;
border-width: ;
}
.p-Home.TextBox25 {
font-size: 18px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox26 {
color: #ff6d0c;
font-size: 18px;
font-family: Poppins;
position: relative;
bottom: 12px;
}
.p-Home.TextBox27 {
color: #6a6868;
font-size: 16px;
font-family: Poppins;
font-weight: 500;
line-height: 23px;
width: 86%;
position: relative;
bottom: 6px;
}
.p-Home.Button8 {
color: #fff;
background-color: #ff7c24;
padding-top: 11px;
padding-left: 20px;
padding-bottom: 11px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
outline-style: none;
}
.p-Home.Button9 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #8b8b8b;
cursor: pointer;
user-select: none;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.p-Home.TextBox34 {
font-size: 33px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox35 {
font-size: 15px;
color: #7e7d7d;
font-family: Poppins;
}
.p-Home.TextBox36 {
font-size: 15px;
color: #7e7d7d;
font-family: Poppins;
}
.p-Home.Button10 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 20px;
padding-bottom: 8px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #a8a7a7;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
outline-width: 0px;
position: relative;
right: 10px;
font-family: Poppins;
}
.p-Home.Button12 {
color: #fff;
background-color: #ff7c24;
padding-top: 9px;
padding-left: 20px;
padding-bottom: 9px;
padding-right: 20px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
outline-width: 0px;
font-family: Poppins;
}
.p-Home.Image14 {
width: 450px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
position: relative;
top: 35px;
}
.p-Home.TextBox28 {
align-self: center;
font-size: 18px;
text-align: left;
font-family: Poppins;
}
.p-Home.Image15 {
width: 20px;
height: 25px;
}
.p-Home.TextBox31 {
width: 330px;
font-size: 15px;
color: #7f7e7e;
margin-top: ;
margin-left: 20px;
font-family: Poppins;
}
.p-Home.Image16 {
width: 20px;
}
.p-Home.TextBox32 {
width: 200px;
font-size: 16px;
color: #7f7e7e;
margin-left: 20px;
margin-bottom: ;
font-family: Poppins;
}
.p-Home.Image18 {
width: 25px;
height: 20px;
}
.p-Home.TextBox33 {
width: 330px;
font-size: 15px;
color: #7f7e7e;
margin-left: 16px;
font-family: Poppins;
}
.p-Home.TextBox37 {
font-size: 28px;
margin-bottom: 20px;
margin-top: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox38 {
font-size: 15px;
width: 650px;
color: #736f6f;
margin-bottom: 35px;
font-family: Poppins;
}
.p-Home.Image19 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox39 {
position: relative;
bottom: 235px;
left: 63px;
background-color: #ffffff;
padding-top: 9px;
padding-left: 9px;
padding-right: 9px;
padding-bottom: 9px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
font-family: Poppins;
font-size: 15px;
font-weight: 600;
}
.p-Home.TextBox40 {
font-size: 21px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox52 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.TextBox53 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.Image24 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox43 {
padding-left: 9px;
padding-top: 9px;
padding-right: 9px;
padding-bottom: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
position: relative;
left: 63px;
bottom: 235px;
background-color: #ffffff;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox44 {
font-size: 19px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox54 {
font-size: 15px;
text-align: center;
position: relative;
bottom: 12px;
color: #585858;
font-family: Poppins;
}
.p-Home.TextBox55 {
font-size: 15px;
text-align: center;
position: relative;
bottom: 12px;
color: #585858;
font-family: Poppins;
}
.p-Home.Image26 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox46 {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 9px;
padding-right: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffffff;
position: relative;
left: 63px;
bottom: 235px;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox47 {
font-size: 21px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox56 {
color: #585858;
text-align: center;
position: relative;
bottom: 12px;
font-size: 15px;
font-family: Poppins;
}
.p-Home.TextBox57 {
font-size: 15px;
text-align: center;
position: relative;
bottom: 12px;
color: #585858;
font-family: Poppins;
}
.p-Home.Image27 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox49 {
margin-top: ;
padding-bottom: 9px;
padding-left: 9px;
padding-right: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffffff;
padding-top: 9px;
left: 63px;
bottom: 235px;
position: relative;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox50 {
font-size: 21px;
text-align: center;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox58 {
font-size: 15px;
text-align: center;
position: relative;
bottom: 12px;
color: #585858;
font-family: Poppins;
}
.p-Home.TextBox59 {
font-size: 15px;
color: #585858;
text-align: center;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.Image28 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox60 {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 9px;
padding-right: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffffff;
position: relative;
left: 63px;
bottom: 235px;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox61 {
font-size: 21px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox62 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.TextBox63 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.Image29 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox64 {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 9px;
padding-right: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffffff;
position: relative;
left: 63px;
bottom: 235px;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox65 {
font-size: 21px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox66 {
font-size: 15px;
text-align: center;
position: relative;
bottom: 12px;
color: #585858;
font-family: Poppins;
}
.p-Home.TextBox67 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.Image30 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox68 {
font-size: 15px;
text-align: center;
position: relative;
bottom: 12px;
color: #585858;
font-family: Poppins;
}
.p-Home.TextBox69 {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 9px;
padding-right: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffffff;
position: relative;
left: 63px;
bottom: 235px;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox70 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.TextBox71 {
font-size: 21px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.Image31 {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.TextBox72 {
position: relative;
bottom: 12px;
color: #585858;
text-align: center;
font-size: 15px;
font-family: Poppins;
}
.p-Home.TextBox73 {
padding-top: 9px;
padding-bottom: 9px;
padding-left: 9px;
padding-right: 9px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background-color: #ffffff;
position: relative;
left: 63px;
bottom: 235px;
font-size: 15px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox74 {
font-size: 15px;
text-align: center;
color: #585858;
position: relative;
bottom: 12px;
font-family: Poppins;
}
.p-Home.TextBox75 {
font-size: 21px;
position: relative;
bottom: 23px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.Button13 {
color: #fff;
background-color: #ff7c24;
padding-top: 8px;
padding-left: 22px;
padding-bottom: 8px;
padding-right: 22px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
outline-width: 0px;
font-family: Poppins;
}
.p-Home.Button14 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 22px;
padding-bottom: 8px;
padding-right: 22px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #8b8b8b;
cursor: pointer;
user-select: none;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
font-family: Poppins;
}
.p-Home.Image32 {
width: 54%;
}
.p-Home.TextBox76 {
font-size: 32px;
color: #ffffff;
margin-bottom: 4px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox77 {
font-size: 32px;
color: #ffffff;
margin-bottom: 4px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox78 {
color: #ffffff;
font-size: 16px;
margin-bottom: 33px;
font-family: Poppins;
}
.p-Home.TextBox79 {
color: #ffffff;
font-size: 16px;
font-family: Poppins;
}
.p-Home.TextBox80 {
font-size: 32px;
color: #ffffff;
margin-bottom: 30px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox81 {
font-size: 16px;
color: #ffffff;
font-family: Poppins;
}
.p-Home.Button15 {
color: #000000;
background-color: #ffffff;
padding-top: 8px;
padding-left: 20px;
padding-bottom: 8px;
padding-right: 20px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.2px;
border-style: solid;
border-color: #8b8b8b;
cursor: pointer;
user-select: none;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
margin-right: ;
font-family: Poppins;
}
.p-Home.Button16 {
color: #fff;
background-color: #ff7c24;
padding-top: 8px;
padding-left: 22px;
padding-bottom: 8px;
padding-right: 22px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
outline-width: 0px;
margin-left: 29px;
font-family: Poppins;
}
.p-Home.TextBox82 {
margin-bottom: 25px;
margin-top: 9px;
}
.p-Home.TextBox83 {
font-size: 30px;
margin-bottom: 25px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox84 {
font-size: 15px;
color: #636262;
width: 49%;
font-family: Poppins;
}
.p-Home.Image38 {
width: 46px;
position: relative;
top: 4px;
left: 3px;
}
.p-Home.TextBox86 {
width: 86%;
margin-bottom: 8px;
color: #797878;
font-family: Poppins;
font-size: 13px;
}
.p-Home.TextBox87 {
font-size: 20px;
margin-bottom: 10px;
font-family: Poppins;
}
.p-Home.Image33 {
width: 30px;
margin-right: 7px;
}
.p-Home.Image34 {
width: 30px;
}
.p-Home.Image35 {
width: 30px;
margin-right: 7px;
}
.p-Home.Image36 {
width: 30px;
margin-right: 7px;
}
.p-Home.Image37 {
width: 30px;
margin-right: 7px;
}
.p-Home.Image40 {
width: 50px;
border-top-left-radius: 28px;
border-top-right-radius: 28px;
border-bottom-left-radius: 28px;
border-bottom-right-radius: 28px;
height: 50px;
margin-right: 20px;
}
.p-Home.TextBox89 {
font-size: 15px;
font-family: Poppins;
}
.p-Home.TextBox90 {
font-size: 14px;
color: #636262;
font-family: Poppins;
}
.p-Home.Image39 {
width: 46px;
position: relative;
top: 4px;
left: 5px;
}
.p-Home.Button17 {
color: #fff;
background-color: #ff7c24;
padding-top: 10px;
padding-left: 22px;
padding-bottom: 10px;
padding-right: 22px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
outline-width: 0px;
font-family: Poppins;
}
.p-Home.Button18 {
color: #000000;
background-color: #ffffff;
padding-top: 10px;
padding-left: 22px;
padding-bottom: 10px;
padding-right: 22px;
font-size: 15px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0.5px;
border-style: solid;
border-color: #8b8b8b;
cursor: pointer;
user-select: none;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
font-family: Poppins;
}
.p-Home.TextBox91 {
font-size: 28px;
font-family: Poppins;
font-weight: 600;
}
.p-Home.TextBox92 {
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
padding-right: 20px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-width: 0px;
outline-width: 0px;
background-color: #ffffff;
font-size: 16px;
margin-right: 50px;
}
.p-Home.Image41 {
width: 100%;
height: 65%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: ;
}
.p-Home.TextBox93 {
width: 90%;
font-size: 14px;
margin-top: 15px;
margin-left: 25px;
font-family: Poppins;
font-weight: 500;
color: #a7a5a5;
}
.p-Home.TextBox94 {
margin-top: 25px;
margin-left: 25px;
font-size: 14px;
font-family: Poppins;
font-weight: 500;
color: #898989;
}
.p-Home.TextBox95 {
font-size: 25px;
margin-top: 15px;
margin-left: 25px;
width: 90%;
font-family: Poppins;
font-weight: 600;
line-height: 34px;
}
.p-Home.Image42 {
width: 100%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox96 {
width: 87%;
margin-left: 20px;
margin-top: 10px;
font-family: Poppins;
font-weight: 600;
font-size: 15px;
}
.p-Home.TextBox97 {
margin-top: 24px;
margin-left: 20px;
font-family: Poppins;
font-weight: 500;
color: #7d7c7c;
font-size: 14px;
}
.p-Home.Image43 {
width: 100%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.p-Home.TextBox98 {
width: 87%;
margin-left: 20px;
margin-top: 10px;
font-family: Poppins;
font-weight: 600;
font-size: 15px;
}
.p-Home.TextBox99 {
margin-top: 24px;
margin-left: 20px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
color: #7d7c7c;
}
.p-Home.Image45 {
width: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: ;
border-bottom-right-radius: ;
}
.p-Home.TextBox100 {
width: 87%;
font-family: Poppins;
font-weight: 600;
font-size: 15px;
margin-top: 10px;
margin-left: 20px;
}
.p-Home.TextBox101 {
margin-top: 24px;
margin-left: 20px;
font-family: Poppins;
font-weight: 500;
font-size: 14px;
color: #7d7c7c;
}
.p-Home.Image46 {
width: 100%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.p-Home.TextBox102 {
width: 87%;
margin-top: 10px;
margin-left: 20px;
font-family: Poppins;
font-weight: 600;
font-size: 15px;
}
.p-Home.TextBox103 {
margin-top: 24px;
margin-left: 20px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
color: #7d7c7c;
}
.p-Home.TextBox104 {
font-size: 32px;
font-family: Poppins;
font-weight: 600;
margin-bottom: 20px;
}
.p-Home.TextBox107 {
font-size: 14px;
font-family: Poppins;
font-weight: 500;
color: #7a7979;
margin-bottom: 30px;
}
.p-Home.Image49 {
width: 25px;
}
.p-Home.TextBox111 {
color: #737070;
font-size: 14px;
font-family: Poppins;
width: ;
margin-left: 20px;
}
.p-Home.Image48 {
width: 25px;
}
.p-Home.TextBox110 {
color: #737070;
font-size: 14px;
font-family: Poppins;
margin-left: 20px;
}
.p-Home.Image47 {
width: 25px;
}
.p-Home.TextBox109 {
color: #737070;
font-family: Poppins;
font-size: 14px;
width: 250px;
margin-left: 20px;
}
.p-Home.TextBox118 {
align-self: flex-start;
font-family: Poppins;
font-size: 16px;
margin-left: 47px;
margin-bottom: ;
margin-top: 25px;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 0.5px;
border-style: solid;
border-color: #c3c3c3;
border-radius: 2px;
width: 82%;
height: 200px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-top: 20px;
text-align: center;
}
.p-Home.Button19 {
color: #fff;
background-color: #ff7c24;
padding-top: 8px;
padding-left: 30px;
padding-bottom: 8px;
padding-right: 30px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
align-self: flex-start;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
outline-width: 0px;
font-family: Poppins;
margin-left: 47px;
margin-top: 28px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 0.5px;
border-style: solid;
border-color: #c3c3c3;
border-radius: 2px;
width: 40%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 23px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 0.5px;
border-style: solid;
border-color: #c3c3c3;
border-radius: 2px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
width: 40%;
margin-right: 26px;
}
.p-Home.TextBox112 {
font-family: Poppins;
font-size: 16px;
margin-left: 37px;
}
.p-Home.TextBox113 {
font-family: Poppins;
font-size: 16px;
margin-left: 175px;
}
.p-Home.TextBox116 {
font-family: Poppins;
font-size: 16px;
margin-left: 37px;
}
.p-Home.TextBox117 {
font-family: Poppins;
font-size: 16px;
margin-left: 187px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 40%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 23px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 0.5px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 40%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 26px;
}
.p-Home.TextBox114 {
font-family: Poppins;
font-size: 16px;
margin-left: 37px;
}
.p-Home.TextBox115 {
font-family: Poppins;
font-size: 16px;
margin-left: 175px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 0.5px;
border-style: solid;
border-color: #d7d7d7;
border-radius: 2px;
width: 40%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 23px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
padding-right: 20px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 0.5px;
border-style: solid;
border-color: #d7d7d7;
border-radius: 2px;
width: 40%;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: ;
margin-right: 26px;
}
.p-Home.TextBox119 {
font-size: 30px;
font-family: Poppins;
font-weight: 600;
width: ;
height: 50px;
position: relative;
margin-left: 40px;
}
.p-Home.Button23 {
color: #fff;
background-color: #ff7c24;
padding-top: 15px;
padding-left: 32px;
padding-bottom: 15px;
padding-right: 30px;
font-size: 18px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 0px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
border-top-left-radius: 28px;
border-top-right-radius: 28px;
border-bottom-left-radius: 28px;
border-bottom-right-radius: 28px;
font-family: Poppins;
outline-width: 0px;
margin-right: 25px;
}
.p-Home.Image50 {
width: 300px;
margin-right: 20px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
margin-left: 20px;
}
.p-Home.Image51 {
width: 300px;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
margin-left: 10px;
}
.p-Home.Image54 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.Image58 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.Image56 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.Image57 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
position: relative;
left: 8px;
}
.p-Home.Image59 {
;
}
.p-Home.TextBox120 {
width: 85%;
margin-top: 10px;
font-family: Poppins;
color: #737373;
font-size: 15px;
}
.p-Home.Image60 {
width: 30px;
margin-left: 8px;
}
.p-Home.Image61 {
width: 30px;
}
.p-Home.Image62 {
width: 30px;
margin-left: 8px;
}
.p-Home.Image63 {
width: 30px;
margin-left: 8px;
}
.p-Home.Image64 {
width: 30px;
margin-left: 8px;
}
.p-Home.TextBox121 {
font-family: Poppins;
font-weight: 500;
font-size: 18px;
margin-bottom: 30px;
}
.p-Home.TextBox122 {
font-family: Poppins;
color: #8c8a8a;
font-size: 14px;
}
.p-Home.TextBox123 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox124 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox125 {
font-family: Poppins;
font-size: 14px;
color: #8c8a8a;
margin-bottom: 10px;
}
.p-Home.TextBox126 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox127 {
color: #8c8a8a;
font-family: Poppins;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox128 {
color: #8c8a8a;
font-family: Poppins;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox129 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: ;
font-size: 14px;
}
.p-Home.TextBox130 {
font-family: Poppins;
font-size: 18px;
margin-bottom: 30px;
}
.p-Home.TextBox131 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox132 {
color: #8c8a8a;
font-family: Poppins;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox133 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: 10px;
font-size: 14px;
font-weight: 500;
}
.p-Home.TextBox134 {
font-family: Poppins;
color: #8c8a8a;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox135 {
color: #8c8a8a;
font-family: Poppins;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox136 {
color: #8c8a8a;
font-family: Poppins;
margin-bottom: 10px;
font-size: 14px;
}
.p-Home.TextBox137 {
font-family: Poppins;
font-size: 18px;
margin-bottom: ;
margin-top: 70px;
margin-left: 35px;
}
.p-Home.Image67 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
margin-left: 35px;
}
.p-Home.Image68 {
width: 140px;
margin-left: 25px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.p-Home.Image65 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
margin-left: 35px;
}
.p-Home.Image66 {
width: 140px;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
margin-left: 25px;
}
